<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings/>
  <connectionStrings>
    <!-- <add name="myConnection" connectionString="Data Source=IMAGE17-PC\SQLSERVER;Initial Catalog=pubs;Integrated Security=True"/>
    Maras connection -->

    <add name="myConnection" connectionString="Data Source=sangy\sqlexpress;Initial Catalog=pubs;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>